@{
    ViewBag.Title = "Booking Scheduler";
}
@Styles.Render("~/Content/fullcalender")
@Scripts.Render("~/bundles/fullcalender")

<script src="~/fullcalendar-3.10.0/lib/jquery-ui.min.js"></script>
<div id='wrap'>
    <div id='external-events'>
        <h4>Draggable Events</h4>
        <div class='fc-event'>My Event 1</div>
        <div class='fc-event'>My Event 2</div>
        <div class='fc-event'>My Event 3</div>
        <div class='fc-event'>My Event 4</div>
        <div class='fc-event'>My Event 5</div>
        <p>
            <input type='checkbox' id='drop-remove' />
            <label for='drop-remove'>remove after drop</label>
        </p>
    </div>
    <div id='calendar'></div>
    <div style='clear:both'></div>
</div>

<script>
    $('#external-events .fc-event').each(function () {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });

    $(document).ready(function () {
        //https://fullcalendar.io/docs/events-function
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            defaultDate: new Date(),
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            businessHours: true, // display business hours
            selectHelper: true,
            drop: function () {
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },
            droppable: true, // this allows things to be dropped onto the calendar
            select: function (start, end) {
                var title = prompt('Event Title:');
                var eventData;
                if (title) {
                    eventData = {
                        title: title,
                        start: start,
                        end: end
                    };
                    $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                }
                $('#calendar').fullCalendar('unselect');
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '@Url.Action("GetEvents")',
                success: function (data) {
                    var events = [] ;
                    $(data).each(function (i,dataa) {
                        events.push({
                            title: dataa.title,
                            start: dataa.start,
                            end: dataa.end
                        });
                    });
                    $('#calendar').fullCalendar('renderEvent', events, true); // stick? = true
                },
                error: function () {
                    $('#script-warning').show();
                }
            },
            loading: function (bool) {
                $('#loading').toggle(bool);
            }
            //events: [
            //    {
            //        title: 'All Day Event',
            //        start: '2019-01-01',
            //        constraint: 'businessHours'

            //    },
            //    {
            //        title: 'Long Event',
            //        start: '2019-01-07',
            //        end: '2019-01-10'
            //    },
            //    {
            //        id: 999,
            //        title: 'Repeating Event',
            //        start: '2019-01-09T16:00:00'
            //    },
            //    {
            //        id: 999,
            //        title: 'Repeating Event',
            //        start: '2019-01-16T16:00:00'
            //    },
            //    {
            //        title: 'Conference',
            //        start: '2019-01-11',
            //        end: '2019-01-13'
            //    },
            //    {
            //        title: 'Meeting',
            //        start: '2019-01-12T10:30:00',
            //        end: '2019-01-12T12:30:00'
            //    },
            //    {
            //        title: 'Lunch',
            //        start: '2019-01-12T12:00:00'
            //    },
            //    {
            //        title: 'Meeting',
            //        start: '2019-01-12T14:30:00'
            //    },
            //    {
            //        title: 'Happy Hour',
            //        start: '2019-01-12T17:30:00'
            //    },
            //    {
            //        title: 'Dinner',
            //        start: '2019-01-12T20:00:00'
            //    },
            //    {
            //        title: 'Birthday Party',
            //        start: '2019-01-13T07:00:00'
            //    },
            //    {
            //        title: 'Click for Google',
            //        url: 'http://google.com/',
            //        start: '2019-01-28'
            //    }
            //]
        });

    });

</script>
<style>
    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }
    #wrap {
        width: 1100px;
        margin: 0 auto;
    }

    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }

            #external-events p input {
                margin: 0;
                vertical-align: middle;
            }
    #calendar {
        float: right;
        width: 900px;
    }
    /*body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }*/
</style>



